
.main-hero {
    max-height: 706px;
}

.presentation {
    padding-top: 3rem !important;
    padding-bottom: 5rem !important;
    position: relative;
}

.info {
    padding-top: 92px;
}

.picture {
    height: 240px;
    width: 240px;

}

.avatar {
    opacity: .9;
}

.is-horizontal-center {
    justify-content: center;
}

.name {
    font-family: 'Press Start 2P', cursive;
}

.job {
    font-family: 'Kaushan Script', cursive;
}

.contact-box {
    height: 140px;
    font-family: 'Noto Sans JP', sans-serif;
}

.color-primary {
    color: #3281ff;
}

.title {
    font-family: 'Press Start 2P', cursive;
}

.skills-box {
    font-family: 'Noto Sans JP', sans-serif;
    height: auto;
    min-height: 408px;

}

.skills-section {
    padding-bottom: 5rem;
}

.iconset {
    padding-top: 30px;
    padding-bottom: 30px;
}

.skill-title {
    font-family: 'Press Start 2P', cursive;
}

.skill-icon {
    height: 30px;
    width: 30px;
    margin:5px;
}

.form-container {


}

.contact-section {
    background-image: linear-gradient(141deg,#1f191a 0,#363636 71%,#46403f 100%);
    background-color: #363636;
    padding-bottom: 5rem;

}

.is-white {
    color: #f5f5f5;
}

.github-icon {
    width: 60px;
    height: 60px;

}

#flow span {
display: block;
width: 200vw;
height: 200vw;
position: absolute;
top: -180vw;
left: -50vw;
border-radius: 90vw;
opacity: 0.6;
}
.flow-1 {
background: #3281ff;
-webkit-animation: rotating 20s linear infinite;
-moz-animation: rotating 20s linear infinite;
-ms-animation: rotating 20s linear infinite;
-o-animation: rotating 20s linear infinite;
animation: rotating 20s linear infinite;
}
.flow-2 {
background: #ffa551;
position: absolute;
-webkit-animation: rotating 15s linear infinite;
-moz-animation: rotating 15s linear infinite;
-ms-animation: rotating 15s linear infinite;
-o-animation: rotating 15s linear infinite;
animation: rotating 15s linear infinite;
}
.flow-3 {
background: #42eef4;
position: absolute;
-webkit-animation: rotating 7s linear infinite;
-moz-animation: rotating 7s linear infinite;
-ms-animation: rotating 7s linear infinite;
-o-animation: rotating 7s linear infinite;
animation: rotating 7s linear infinite;
}

@media only screen and (max-width: 424px) {
    #flow span {
        display: none;
    }
}

@-webkit-keyframes rotating {
from {
-ms-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-ms-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes rotating {
from {
-ms-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-ms-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
}
.rotating {
-webkit-animation: rotating 2s linear infinite;
-moz-animation: rotating 2s linear infinite;
-ms-animation: rotating 2s linear infinite;
-o-animation: rotating 2s linear infinite;
animation: rotating 2s linear infinite;
}
